
$theme-color:#F9F5F2;
$primary-color:#1D2128;
$primary-text-color:white;
$blue-button:#3449CA;
// $secondary-color:#006767;
$copy-right:#797375;
$help-button:#00413F;
$help-bg:#E3F7D7;
$mobile-first:#FBF5F3;
$tick-bg:#FF3900;
$multi-bg:#EDF6F6;
$multi-text:#006767;