@media only screen and (max-width: 990px){
    .mobile-first{
        .cons{
            width: 100%;
            .con1{
                width: 40%;
            }
        }
    }
}

@media only screen and (max-width: 767px){
    .mobile-first{
        .cons{
            width: 95%;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            border-radius: 40px;
            .con1{
                width: 90%;
            }
            .con2{
                width: 90%;
                padding: 50px;
                img{
                    width: 100%;
                }
            }
        }
    }
}